/* Reset padding, margin, and set box-sizing and font-family for all elements */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Set background color for the body */
body {
    background-color: #eff3ff;
}

/* Style for the container */
.container {
    width: 350px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

/* Style for the card */
#card {
    position: relative;
    width: 100%;
    padding: 30px 20px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

/* Style for the image inside the card */
#card img {
    display: block;
    width: 180px;
    max-height: 200px;
    position: relative;
    margin: 20px auto;
}

/* Style for the HP section */
.hp {
    width: 80px;
    background-color: #ffffff;
    text-align: center;
    padding: 8px 0;
    border-radius: 30px;
    margin-left: auto;
    font-weight: 400;
}

/* Style for the Pokemon name */
.poke-name {
    text-align: center;
    font-weight: 600;
}

/* Style for the types section */
.types {
    display: flex;
    justify-content: space-around;
    margin: 20px 0 40px 0;
}

/* Style for the text inside HP and types sections */
.hp span,
.types span {
    font-size: 12px;
    letter-spacing: 0.4px;
    font-weight: 600;
}

/* Additional style for the types section */
.types span {
    padding: 5px 20px;
    border-radius: 20px;
    color: #ffffff;
}

/* Style for the stats section */
.stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

/* Style for the text inside the stats section */
.stats p {
    color: #404060;
}

/* Style for the button */
#btn {
    display: block;
    padding: 15px 60px;
    font-size: 18px;
    background-color: #101010;
    color: #ffffff;
    position: relative;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
}