/*this will make a loading screen with a rotating circle*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader svg {
    Display: block;
    Width: 100%;
    Height: 100%;
}
.loader svg rect,
.loader svg polygon,
.loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
}